.site-footer {
  font-family: Arial;
  font-size: 16px;
  background: #85bb65;
  display: flex;
  flex-wrap: wrap;
}

.region-footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 2.5em;
}